<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TODO APP</title>

        <!-- Bootstrap CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-app="TodoApp">
        <div class="jumbotron" ng-controller="LoginCtrl">
            <h1 class="text-center">TODO APP</h1>    
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" ng-click="login()">Ingresar con Github</button>    
            </div>
        </div>
        

        <div class="container">
            <div class="row" ng-controller="TodoCtrl">
                <div class="col-md-4 col-md-offset-4">                    
                    <form action="">
                        <div class="form-group">
                            <input type="text" ng-model="tarea.title" placeholder="Comprar cervezas, ir a una charla, jugar play">
                            <button type="button" class="btn btn-success btn-sm" ng-click="agregarTarea()"><span class="glyphicon glyphicon-plus"></span> Add</button>    
                        </div>
                    </form>

                    <table class="table table-striped">
                        <tr ng-repeat="tarea in todo" >
                            <td><input type="checkbox" ng-click="cerrarTarea(tarea)" /></td> 
                            <td>{{ tarea.title }}</td>
                        </tr>
                    </table>    
                </div>
            </div>    
        </div>
        

        <!-- jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/oauth-js/dist/oauth.min.js"></script>
        <script src="bower_components/angular-resource/angular-resource.min.js"></script>
        <script src="bower_components/angular-oauthio/dist/angular-oauth.io.min.js"></script>
        <script src="src/app.js"></script>
    </body>
</html>